extends blocks/base.pug

block title 
	title Главная

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content
		
			section.welcome
				.wrapper
					h1.welcome__title Имплантация зубов по фиксированным ценам
					.welcome__row 
						.welcome__content 
							ul.welcome__list 
								li Одномоментная имплантация (за 1 день)
								li Имплантация по технологии All-on-4
								li Имплантация по технологии All-on-6
							.btn.btn--red Записаться на консультацию
						.welcome__img 
							img(src="img/implantat_new.png", alt="")

			.advantages
				.wrapper
					.row 
						.advantages__col
							.advantages__item
								.advantages__icon 
									img(src="img/", alt="")
								.advantages__text Выдаем на руки план лечения с указанием точной стоимости материалов и работ
						.advantages__col
							.advantages__item
								.advantages__icon 
									img(src="img/", alt="")
								.advantages__text Пожизненная гарантия от производителя
						.advantages__col 
							.advantages__item
								.advantages__icon 
									img(src="img/", alt="")
								.advantages__text Медицинский кредит и беспроцентная рассрочка

			section.sale
				.wrapper 
					h2.sale__title АКЦИИ
					.sale__slider
						#sliderSale
							img(src="img/nesjemnoe-protezirovanie-aktsiya-1.jpg", alt="")
							img(src="img/nobel-aktsiya-1.jpg", alt="")

			section.description
				.wrapper 
					h2.title Имплантация зубов под ключ
					.description__row
						.description__img
							img(src="img/Elita-omsk-implantatsiya-uslugi.jpg", alt="")
						.typotext 
							p Показания для имплантации зубов:
							ul 
								li отсутствие одного зуба;
								li отсутствие нескольких зубов;
								li полная адентия (отсутствие всех зубов);
								li зуб полностью разрушен, необходимо удаление;
								li непереносимость съемных зубных протезов.
							p Качественно проведенная имплантация зубов решит не только физические, но и эстетические проблемы, возвращая красивую улыбку.
					.row 
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/nobel_logo_header.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Nobel», США
										li Операция по установке импланта
									.item__price 36 500 руб.
									.btn.btn--red Записаться
						.description__col
							.item
								.item__body 
									.item__img
										img(src="img/Logo_osstem.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Osstem», Корея
										li Операция по установке импланта
									.item__price 25 900 руб.
									.btn.btn--red Записаться
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/logo-neo-biotech.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Neobiotech», Корея
										li Операция по установке импланта
									.item__price 23 800 руб.
									.btn.btn--red Записаться

			section.description2
				.wrapper
					h2.title Имплантация зубов All-on-4 под ключ
					.row 
						.description2__col1 
							.item 
								.item__body
									.item__img
										img(src="img/nobel_logo_header.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Nobel», США
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 264 160 руб.
									.btn.btn--red Записаться
						.description2__col2
							.description2__text
								img(src="img/unnamed.jpg", alt="")
								p Технология несъёмного протезирования для случаев, когда в ряду утрачены все зубы. Метод предполагает вживление четырех имплантатов, которые становятся опорой для высокотехнологичного несъемного протеза, который не отличается по внешнему виду от природных зубов. Технология «All-on-4» является запатентованной разработкой компании Nobel Biocare - мирового лидера в сфере имплантологии. 

			section.description
				.wrapper 
					h2.title Имплантация зубов All-on-6 под ключ
					.description__row
						.description__img
							img(src="img/all-on-6-750x500.jpg", alt="")
						.typotext 
							p Еще одна из методик с немедленной нагрузкой. В сущности, это усовершенствованная версия метода All-on-4. Имплантация таким способом подразумевает установку шести искусственных корней, на которые сразу ставится съемный протез.
							p Дополнительные титановые стержни обеспечивают максимально надежное закрепление ортопедической конструкции для более правильного распределения нагрузки на импланты. Это не только снижает риск их отторжения, но и увеличивает срок надежной фиксации.
					.row 
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/nobel_logo_header.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Nobel», США
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 456 600 руб.
									.btn.btn--red Записаться
						.description__col
							.item
								.item__body 
									.item__img
										img(src="img/Logo_osstem.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Osstem», Корея
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 324 600 руб.
									.btn.btn--red Записаться
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/logo-neo-biotech.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Neobiotech», Корея
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 324 600 руб.
									.btn.btn--red Записаться

			section.price 
				.wrapper 
					h2.title Цены на имплантацию
					.typotext 
						p Мы стремимся к тому, чтобы ценообразование в нашей клинике было максимально прозрачным. Но, поскольку выбор метода и имплантов для каждого случая индивидуален, то не может быть единой фиксированной стоимости процедуры для всех. Персональный расчет окончательного чека позволяет взять во внимание не только медицинские показания, но и пожелания пациента. В клинике «Фактор Улыбки» на цену имплантации зубов в СПб влияют:
						ul
							li стоимость имплантата (зависит от производителя);
							li сложность клинического случая (в случае дефицита костной ткани есть необходимость костной пластики);
							li вид ортопедической конструкции (отличаются по материалу).
						p Точный расчет возможен только после приема у специалиста. Озвученная сумма будет зафиксирована в плане лечения и останется неизменной до окончания лечения. 
						p Предлагаем ознакомиться с нашими ценами на зубные импланты в СПб и услуги по их установке (включая смежные процедуры). Обращаем ваше внимание, что в «Фактор Улыбки» доступна программа 
						b рассрочки или кредитования 
						| для тех, кому удобнее и проще оплачивать лечение частями.
					ul.price__list 
						li 
							span Имплантат «Nobel», США
							span 23 000 ₽
						li
							span Операция по установке имплантата «Nobel»
							span 13 500 ₽
						li
							span Имплантат «Osstem»
							span 12 400 ₽
						li
							span Операция по установке имплантата «Osstem»
							span 13 500 ₽
						li
							span Формирователь десны «Osstem»
							span 5 800 ₽
						li
							span Имплантат «Neobiotech», Корея
							span 10 300 ₽
						li
							span Операция по установке имплантата «Neobiotech»
							span 13 500 ₽
						li
							span Формирователь десны «Neobiotech»
							span 5 800 ₽
						li
							span Установка трабекулярного имплантата из тантала Zimmer (США)
							span 115 000 ₽
						li
							span Операция по установке миниимплантата
							span 15 600 ₽
						li
							span Восстановление костного дефекта костнопластическим материалом с использованием мембраны Цитопласт	
							span 33 100 ₽
						li
							span Временный имплантат с учетом стоимости абатмента	
							span 10 400 ₽
						li
							span Дополнительная мембрана Биопласт	
							span 10 400 ₽
						li
							span Дополнительная резорбируемая мембрана	
							span 15 600 ₽
						li
							span Дополнительный костнопластический материал 0.5 гр.	
							span 9 900 ₽
						li
							span Дополнительный костнопластический материал для консервации лунки	
							span 2 200 ₽
						li
							span Использование дополнительного препарата Лиопласт 0,5 гр	
							span 5 300 ₽
						li
							span Коллагеновая мембрана Остеопласт 25*25 мм	
							span 7 300 ₽
						li
							span Костная пластина "Lamina" (OsteoBiol, Италия)	
							span 22 800 ₽
						li
							span Нерезорбируемая мембрана Цитопласт 17*25	
							span 10 800 ₽
						li
							span Нерезорбируемая мембрана Цитопласт 20*25	
							span 14 300 ₽
						li
							span Нерезорбируемая мембрана Цитопласт 25*30	
							span 18 800 ₽
						li
							span Односторонний закрытый синус-лифтинг (без учета стоимости материала)	
							span 18 600 ₽
						li
							span Односторонний открытый синус-лифтинг (без учета стоимости материала)	
							span 26 900 ₽
						li
							span Пересадка десны (одна донорская область)	
							span 9 400 ₽
						li
							span Пересадка соединительнотканного трансплантата (1 донорская область)	
							span 7 300 ₽
						li
							span Пины для фиксации мембраны Цитопласт (5шт)	
							span 5 300 ₽
						li
							span Формирователь десны "Alpha Bio"	
							span 5 800 ₽
						li
							span Формирователь десны «Nobel»	
							span 8 300 ₽
					.price__btn 
						.btn.btn--red Записаться на прием
			
			section.portfolio 
				.wrapper 
					h2.title Примеры наших работ
					.portfolio__slider 
						#sliderPortfolio
							.portfolio__item 
								.portfolio__images
									a(href="img/implant-1.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-1.jpg", alt="")
										.portfolio__sticker До
									a(href="img/implant-1-1.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-1-1.jpg", alt="")
										.portfolio__sticker После
								.portfolio__text 
									p На верхней и нижней челюсти восстановление всех зубов протезированием на восьми имплантатах
									p Врач-хирург-имплантолог: 
										a(href="https://factorsmile.ru/specialisty/idrisov-ruslan-albertovich" target="_blank") Идрисов Руслан Альбертович
									p Врач-ортопед: 
										a(href="https://factorsmile.ru/specialisty/idrisov-nimatula-shamilevich" target="_blank") Идрисов Ниматула Шамильевич
							.portfolio__item 
								.portfolio__images
									a(href="img/implant-2.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-2.jpg", alt="")
										.portfolio__sticker До
									a(href="img/implant-2-1.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-2-1.jpg", alt="")
										.portfolio__sticker После
								.portfolio__text 
									p На верхней и нижней челюсти восстановление всех зубов по технологии «All-on-4»
									p Врач-ортопед: 
										a(href="https://factorsmile.ru/specialisty/idrisov-nimatula-shamilevich" target="_blank") Идрисов Ниматула Шамильевич
							.portfolio__item 
								.portfolio__images
									a(href="img/implant-3.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-3.jpg", alt="")
										.portfolio__sticker До
									a(href="img/implant-3-1.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-3-1.jpg", alt="")
										.portfolio__sticker После
								.portfolio__text 
									p На верхней и нижней челюсти восстановление всех зубов протезированием на шести имплантатах
									p На нижней челюсти установлены керамические виниры «E-max»
									p Врач-хирург-имплантолог: 
										a(href="https://factorsmile.ru/specialisty/goldshetjn-ilya-igorevich" target="_blank") Гольдштейн Илья Игоревич
									p Врач-ортопед: 
										a(href="https://factorsmile.ru/specialisty/zhuravkov-sergej-aleksandrovich" target="_blank") Журавков Сергей Александрович
							.portfolio__item 
								.portfolio__images
									a(href="img/implant-4.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-4.jpg", alt="")
										.portfolio__sticker До
									a(href="img/implant-4-1.jpg" data-fancybox).portfolio__img 
										img(src="img/implant-4-1.jpg", alt="")
										.portfolio__sticker После
								.portfolio__text 
									p На верхней челюсти восстановление всех зубов по технологии «All-on-4»
									p Врач-хирург-имплантолог: 
										a(href="https://factorsmile.ru/specialisty/kuzmin-igor-alekseevich" target="_blank") Кузьмин Игорь Алексеевич
									p Врач-ортопед: 
										a(href="https://factorsmile.ru/specialisty/zhuravkov-sergej-aleksandrovich" target="_blank") Журавков Сергей Александрович

			section.team 
				.wrapper 
					.title Наши специалисты
					.team__slider 
						#sliderTeam
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-1.jpg", alt="")
								.team__name Алибейли Эрвин
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-2.jpg", alt="")
								.team__name Башмачников Владимир <br>Константинович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-3.jpg", alt="")
								.team__name Буадзе Нино <br>Гурамовна
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-4.jpg", alt="")
								.team__name Гольдштейн Илья <br>Игоревич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-5.jpg", alt="")
								.team__name Гулян Ани <br>Зориковна
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-6.jpg", alt="")
								.team__name Дзгоев Урузмаг <br>Альбертович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-7.jpg", alt="")
								.team__name Дзебоев Арсен <br>Эльбрусович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-8.jpg", alt="")
								.team__name Журавков Сергей <br>Александрович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-10.jpg", alt="")
								.team__name Захаров Александр <br>Николаевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-11.jpg", alt="")
								.team__name Идрисов Ниматула <br>Шамильевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-12.jpg", alt="")
								.team__name Идрисов Руслан <br>Альбертович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-13.jpg", alt="")
								.team__name Кинакцян Артем <br>Арамович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-14.jpg", alt="")
								.team__name Кисиев Михаил <br>Витальевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-15.jpg", alt="")
								.team__name Колтунов Александр <br>Владимирович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-16.jpg", alt="")
								.team__name Крюков Андрей <br>Владимирович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-17.jpg", alt="")
								.team__name Кузьмин Игорь <br>Алексеевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-18.jpg", alt="")
								.team__name Кучкаров Шамшодбек <br>Суратович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-19.jpg", alt="")
								.team__name Кущ Олег <br>Владимирович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-20.jpg", alt="")
								.team__name Ларин Михаил <br>Владимирович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-21.jpg", alt="")
								.team__name Максимчук Иван <br>Игоревич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-22.jpg", alt="")
								.team__name Мамадалиев Хусенали <br>Илхомович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-23.jpg", alt="")
								.team__name Семенова Елена <br>Владимировна
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-24.jpg", alt="")
								.team__name Сорокин Антон <br>Юрьевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-25.jpg", alt="")
								.team__name Торцев Илья <br>Андреевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-26.jpg", alt="")
								.team__name Хажметов Андзор <br>Валерьевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-27.jpg", alt="")
								.team__name Хажомия Дато <br>Геннадьевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-28.jpg", alt="")
								.team__name Хажомия Сандро <br>Геннадьевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive
									img(src="img/team-29.jpg", alt="")
								.team__name Цуркан Владислав <br>Геннадьевич
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт
							.team__item 
								.team__img.img-responsive 
									img(src="img/team-30.jpg", alt="")
								.team__name Цуркану Игорь <br>Михайлович
								.team__text Врач-стоматолог-хирург-имплантолог. Врач-эксперт

			section.review
				.wrapper 
					h2.title Отзывы из наших клиник
					.review__slider
						#sliderReview
							.review__item 
								.review__inner
									.review__title Федоров Михаил Николаевич
									.review__content 
										a(href="img/review-1.jpeg" data-fancybox) 
											img(src="img/review-1.jpeg", alt="")
										p Выношу благодарность врачу Идрисову Ниматуле Шамильевичу за качественную, грамотную и безболезненную работу по установке имплантов.
										p Сначала я считал, что получилось удачно, но теперь считаю, что это профессионализм!
										p Также я хочу отметить работу административного и медицинского персонала. Всегда вежливо и оперативно решали вопросы.
									.review__date Опубликовано в сентябре 2021г.
							.review__item 
								.review__inner
									.review__title Русу Николай Сергеевич
									.review__content 
										a(href="img/review-2.jpeg" data-fancybox) 
											img(src="img/review-2.jpeg", alt="")
										p Я проходил хирургическое лечение и установил 12 имплантов у доктора Захарова А.Н. В дальнейшем проходил лечение у ортопеда Журавкова С.А. Выражаю благодарность врачам, ассистентам за проделанную работу. 
										p Буду рекомендовать моим знакомым и друзьям вашу клинику.
										p Желаю вам хороших пациентов.
									.review__date Опубликовано в сентябре 2021г.
							.review__item 
								.review__inner
									.review__title Кремаренко Х.П.
									.review__content 
										a(href="img/review-3.jpeg" data-fancybox) 
											img(src="img/review-3.jpeg", alt="")
										p Хочу выразить огромную благодарность доктору хирургу Артему Арамовичу, менеджеру Оксане за теплое, внимательное, а главное высокий профессионализм в своей работе. Я ставлю вторые импланты в вашей клинике и очень доверяю вашим специалистам.
										p Огромное спасибо!
							.review__item 
								.review__inner
									.review__title Руденко Светлана Вальеревна
									.review__content 
										a(href="img/review-4.jpeg" data-fancybox) 
											img(src="img/review-4.jpeg", alt="")
										p Огромная благодарность врачам клиники "Фактор Улыбки" Олегу Владимировичу и Журавкову Сергею Александровичу за мои новые зубки! Все сделано профессионально, быстро, и с заботой и позитивом!
									.review__date Опубликовано в августе 2021г.
							.review__item 
								.review__inner
									.review__title Николаева Ольга Николаевна
									.review__content 
										a(href="img/review-5.jpeg" data-fancybox) 
											img(src="img/review-5.jpeg", alt="")
										p Я, Николаева Ольга Николаевна проходила имплантацию у доктора Куща И.В. и протезирование у врача Цуркан Владислава Геннадьевича протезиста. Очень довольна проделанной работой этих врачей. Хожу в эту клинику и благодарна всему персоналу за проделанную работу. Всем советую.
									.review__date Опубликовано в мае 2021г.

			.map 
				.wrapper
					.map__map
						#yandexMap
					.map__nav
						.map__title Наши клиники
						ul.map__list

		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	script(src="js/libs/jquery.fancybox.min.js")
	script(src="js/libs/slick.min.js")
	script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")