extends blocks/base.pug

block title 
	title Главная

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content
		
			section.welcome
				.wrapper
					h1.welcome__title Имплантация зубов по фиксированным ценам
					.welcome__row 
						.welcome__content 
							ul.welcome__list 
								li Одномоментная имплантация (за 1 день)
								li Имплантация по технологии All-on-4
								li Имплантация по технологии All-on-6
							.btn.btn--red Записаться на консультацию
						.welcome__img 
							img(src="img/implantat_new.png", alt="")

			.advantages
				.wrapper
					.row 
						.advantages__col
							.advantages__item
								.advantages__icon 
									img(src="img/", alt="")
								.advantages__text Выдаем на руки план лечения с указанием точной стоимости материалов и работ
						.advantages__col
							.advantages__item
								.advantages__icon 
									img(src="img/", alt="")
								.advantages__text Пожизненная гарантия от производителя
						.advantages__col 
							.advantages__item
								.advantages__icon 
									img(src="img/", alt="")
								.advantages__text Медицинский кредит и беспроцентная рассрочка

			section.sale
				.wrapper 
					h2.sale__title АКЦИИ
					.sale__slider
						#sliderSale
							img(src="img/nesjemnoe-protezirovanie-aktsiya-1.jpg", alt="")
							img(src="img/nobel-aktsiya-1.jpg", alt="")

			section.description
				.wrapper 
					h2.title Имплантация зубов под ключ
					.description__row
						.description__img
							img(src="img/Elita-omsk-implantatsiya-uslugi.jpg", alt="")
						.typotext 
							p Показания для имплантации зубов:
							ul 
								li отсутствие одного зуба;
								li отсутствие нескольких зубов;
								li полная адентия (отсутствие всех зубов);
								li зуб полностью разрушен, необходимо удаление;
								li непереносимость съемных зубных протезов.
							p Качественно проведенная имплантация зубов решит не только физические, но и эстетические проблемы, возвращая красивую улыбку.
					.row 
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/nobel_logo_header.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Nobel», США
										li Операция по установке импланта
									.item__price 36 500 руб.
									.btn.btn--red Записаться
						.description__col
							.item
								.item__body 
									.item__img
										img(src="img/Logo_osstem.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Osstem», Корея
										li Операция по установке импланта
									.item__price 25 900 руб.
									.btn.btn--red Записаться
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/logo-neo-biotech.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Neobiotech», Корея
										li Операция по установке импланта
									.item__price 23 800 руб.
									.btn.btn--red Записаться

			section.description2
				.wrapper
					h2.title Имплантация зубов All-on-4 под ключ
					.row 
						.description2__col1 
							.item 
								.item__body
									.item__img
										img(src="img/nobel_logo_header.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Nobel», США
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 264 160 руб.
									.btn.btn--red Записаться
						.description2__col2
							.description2__text
								img(src="img/unnamed.jpg", alt="")
								p Технология несъёмного протезирования для случаев, когда в ряду утрачены все зубы. Метод предполагает вживление четырех имплантатов, которые становятся опорой для высокотехнологичного несъемного протеза, который не отличается по внешнему виду от природных зубов. Технология «All-on-4» является запатентованной разработкой компании Nobel Biocare - мирового лидера в сфере имплантологии. 

			section.description
				.wrapper 
					h2.title Имплантация зубов All-on-6 под ключ
					.description__row
						.description__img
							img(src="img/all-on-6-750x500.jpg", alt="")
						.typotext 
							p Еще одна из методик с немедленной нагрузкой. В сущности, это усовершенствованная версия метода All-on-4. Имплантация таким способом подразумевает установку шести искусственных корней, на которые сразу ставится съемный протез.
							p Дополнительные титановые стержни обеспечивают максимально надежное закрепление ортопедической конструкции для более правильного распределения нагрузки на импланты. Это не только снижает риск их отторжения, но и увеличивает срок надежной фиксации.
					.row 
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/nobel_logo_header.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Nobel», США
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 456 600 руб.
									.btn.btn--red Записаться
						.description__col
							.item
								.item__body 
									.item__img
										img(src="img/Logo_osstem.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Osstem», Корея
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 324 600 руб.
									.btn.btn--red Записаться
						.description__col
							.item 
								.item__body
									.item__img
										img(src="img/logo-neo-biotech.png", alt="")
									ul.item__list 
										li Консультация специалиста
										li Анестезия
										li Имплантат «Neobiotech», Корея
										li Операция по установке импланта
										li Ортопантомограмма
										li Снятие оттисков челюстей
										li Изготовление и фиксация протеза
									.item__price 324 600 руб.
									.btn.btn--red Записаться
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")