.sale {
  padding: 0 0 30px;
  .wrapper {
    max-width: 1160px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  &__slider {
    margin-left: 70px;
    margin-right: 70px;
  }
  .slider-arrow {
    &--prev {
      left: -70px;
    }
    &--next {
      right: -70px;
    }
  }
  @media (max-width: $break_sm) {
    padding: 0 0 20px;
    &__slider {
      margin-left: 35px;
      margin-right: 35px;
    }
    .slider-arrow {
      &--prev {
        left: -35px;
      }
      &--next {
        right: -35px;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__slider {
      margin-left: 0;
      margin-right: 0;
    }
    .slider-arrow {
      top:auto;
      bottom: 10px;
      transform: translate(0,0);
      &--prev {
        left: 5px;
      }
      &--next {
        right: 5px;
      }
    }
  }
}